extends knxlayout
// form design partly copied from http://www.hongkiat.com/blog/creating-responsive-form-with-css3-html5/
block content
	// never write here, it's on the background
	// JADE:
	// without anything in front is a DIV
	// class=some  .some
	// id=some  #some
	//
	//WRAPPER
	section#container
		.leftaligned
			a(href="/devicelist") Back to device
		.rightaligned
			input#nextDevice(type="hidden", value=devicedata.nextDevice)
			if devicedata.nextDevice
				a#nextdev(href=encodeURIComponent(devicedata.nextDevice)) Next device
		// this is supposed to be "form" "label"
		h2 KNX Service
		form.knxform(method="post", action="#", name="knxform", id="knxform")
			#wrapping.clearfix
				section#aligned
					label(for="servicename") Device Name
					input#servicename.txtinput(type='text', placeholder='Service name', name='servicename', tabindex="1", autocomplete="off", value= devicedata.service.ServiceName	)
					label(for="servicetype") Service type
					select#servicename(name='servicetype')
						- each serv in Services
							option Dummy
							//option(value=serv.displayName, checked=(serv.displayName===devicedata.service.ServiceType)) serv.displayName
					//Description
					label(for="Description") Optional description - for your own use only
					textarea#description.txtinput(type='text', placeholder='optional description', name='Description', tabindex="1", autocomplete="off", value= devicedata.Description)
					//Manufacturer
					label(for="Manufacturer") Optional Manufacturer name
					input#manf.txtinput(type='text', placeholder='optional Manufacturer name', name='Manufacturer', tabindex="1", autocomplete="off", value= devicedata.Manufacturer)
					//Model
					label(for="Model") Optional Model name
					input#model.txtinput(type='text', placeholder='optional Model name', name='Model', tabindex="1", autocomplete="off", value= devicedata.Model)
					//SerialNumber
					label(for="SerialNumber") Optional SerialNumber (must not be a number, but text)
					input#serial.txtinput(type='text', placeholder='optional Serial number', name='SerialNumber', tabindex="1", autocomplete="off",  value= devicedata.SerialNumber)
				// spacer
				section.clearfix(style="float: left; margin-right:30px; height: 1px;")
				section#aside.clearfix
					// Maintenance status: 3-way-radio selection
					section#maintstatus.radioselection
						h3 Configuration Status:
						span.radiobadge
							input#init( type="radio",  name="maintstatus", value="init", checked=(devicedata.Maintenance==='init' ? true:false))
							label(for="init") Initial
						span.radiobadge
							input#wip( type="radio", name="maintstatus", value="wip", checked=(devicedata.Maintenance==='wip' ? true:false))
							label( for="wip") Work in progress
						span.radiobadge
							input#done( type="radio", name="maintstatus", value="done", checked=(devicedata.Maintenance==='done' ? true:false))
							label( for="done") Finished
					// Reachability switch (iOS9.3 preparation)
					section#reachability.radioselection
						h3 Force reachability
						span.radiobadge
							input#reach( type="radio",  name="reachability", value="true", checked=(devicedata.Reachable!==false ? true:false))
							label(for="reach") Reachable
						span.radiobadge
							input#unreach( type="radio", name="reachability", value="false", checked=(devicedata.Reachable===false ? true:false))
							label( for="unreach") Unreachable
			section.buttons
				input#resetbtn.resetbtn(type="reset", name="reset", value="Reset")
				input#submitbtn.submitbtn(type="submit", name="submit",  tabindex="7", value="Save")
				// spacer to size the background
				br(style="clear: both;")
					
		#serviceList
			// list with assigned services for devices, etc.
			h3 Assigned Services
			table
				thead
					th Type
					th Name
					th 
				tbody
		form.knxform(method="post", action="#", name="knxserviceform", id="knxserviceform")
			section.buttons
				input#addbtn.submitbtn(type="submit", name="add", value="Add new Service to this device")
				br(style="clear: both;")
